# Directory cloned from https://github.com/seade-R/dados-covid-sp.git
# containing the original COVID-19 cases for São Paulo State, Brazil.
dados-covid-sp

# results
*.png

# R
*.RData
*.Rhistory

# RStudio
*.nb.html
*.Rproj.user
pandiso*.md

# Temp files
*~

# Preprint directory
preprint
.Rproj.user
