# File downloaded from https://github.com/seade-R/dados-covid-sp.git
# containing the original COVID-19 cases for São Paulo State, Brazil.
dados_covid_sp.csv

# results
*.png

# R
*.RData
*.Rhistory
.Rproj.user

# RStudio
*.nb.html
*.Rproj.user
pandiso*.md

# Temp files
*~
